[Unit]
Description=Runs monitoring_boradcast.service every 10 minutes after first login.

[Timer]
OnBootSec=10sec
OnUnitActiveSec=10min
AccuracySec=400ms

[Install]
WantedBy=timers.target

